*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    background: url("https://i.pinimg.com/736x/13/65/3f/13653fc26988a543ddf85922007134aa--ben-.jpg");
    background-size: cover;
    color: white;
}
a{
    color: white;
}
h1{
    font-size: 70px;
}

ul{
    padding: 10px;
    background: black;
}
li{
    display: inline;
    padding: 0px 10px 0px 10px
}
img{
    width: 230px;
    height: 200px;
    border: 7px solid white;
    border-radius: 20px;
    margin: 40px 0px 0px 0px;
}